<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    {% if custom_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/' + custom_css + '.css')}}">
    {% endif %}
    <title>{{ title }}</title>
</head>
<body>
    {% block body %}
    {% endblock %}

    <script src="{{ url_for('static', filename='js/jquery-4.0.0.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/main.js')}}"></script>
</body>
</html>